<!--This loads the urls for the static files in your app folder-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Polls</title>
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                <!--Need to signify that you've ended the loop-->
                {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available</p>
        <!--Also need to signify end of if statements-->
        {% endif %}
    </body>
</html>